<!-- Jumbotron -->
<!-- <div class="jumbotron text-center">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to the grocery app,one stop shop</p>
  <hr class="my-4" />
  <p>Shop fast and grab your Onam discounts</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">start shopping</a>
</div> -->

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/grocery2.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="container">
          <div class="row justify-content-end text-left">
            <div class="col lg-8">
              <p>ONAM SALE 2022</p>
              <h1>Get upto 30% off</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
