<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">About Us</h1>
    <p class="lead">This is about us page</p>
</div>
<div class="container">
    <div class="section">
        <p class="justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi fuga, sint nisi aliquid, aperiam possimus hic quaerat voluptates minima tempore perferendis similique praesentium porro consequatur! Odit, incidunt? Dolores, inventore quidem? Consequuntur sunt, tempore vel animi soluta provident excepturi ipsa explicabo! Veniam sequi autem enim, quia aliquid odit quasi rem delectus.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, nemo labore facilis sit inventore perferendis. Perferendis ipsum repellat nesciunt. Fugit, repellendus! Impedit doloribus dicta praesentium magni, asperiores repellendus reiciendis velit distinctio ex iure numquam necessitatibus itaque explicabo sunt ipsa nostrum sit autem aspernatur molestiae officia. Amet harum tempore reiciendis odio explicabo quia! Quos nulla ullam repudiandae culpa laudantium vel facere, labore alias rem hic voluptatem corporis quia dolor, similique explicabo doloremque illum fuga ipsam voluptate expedita nam excepturi, dolore at. Ipsum modi dolores inventore exercitationem tempora nostrum velit asperiores a, dicta praesentium sequi nobis assumenda soluta in deserunt quae sunt.</p>
        
    </div>
</div>

